<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Log Analyzer</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<div class="header">
    <div class="header-inner">
        <h1>Log Analyzer</h1>
    </div>
</div>

<div class="topbar">
</div>

<div class="container">

<div class="box">
<h2>Upload Logs</h2>

<form method="POST" enctype="multipart/form-data">
<input type="file" name="logfiles" multiple>
<button type="submit" name="upload">Upload</button>
</form>

<form method="POST">
<button type="submit" name="clear_files">Clear Files</button>
</form>

{% if filenames %}
<b>Files Loaded:</b>
<ul>
{% for file in filenames %}
<li>{{ file }}</li>
{% endfor %}
</ul>
{% endif %}

</div>

{% if filenames %}
<div class="box">
<h2>Filters</h2>

<form method="POST">

Level:
<select name="level">
<option value="ALL">All</option>
{% for level in detected_levels %}
<option value="{{ level }}" {% if level_filter == level %}selected{% endif %}>{{ level }}</option>
{% endfor %}
</select>

<br><br>

Date:
<input type="date" name="date" value="{{ date_filter }}">

<br><br>

Message:
<input type="text" name="message" value="{{ message_filter }}">

<br><br>

<button name="apply_filters">Apply</button>
<button name="clear_filters">Clear</button>

</form>
</div>
{% endif %}

{% if stats.total > 0 %}
<div class="box">
<h2>Statistics</h2>

<p>Total: {{ stats.total }}</p>

{% for level,count in stats.items() %}
{% if level != "total" %}
<p>{{ level }}: {{ count }}</p>
{% endif %}
{% endfor %}

</div>
{% endif %}

{% if stats.total > 0 %}
<div class="box">
<h2>Export</h2>
<a href="/export"><button>Export CSV</button></a>
</div>
{% endif %}

{% if logs %}
<div class="box">
<h2>Logs</h2>

<table>
<tr>
<th>
<a href="/?sort=date&order=asc">Date ▲</a>
<a href="/?sort=date&order=desc">▼</a>
</th>
<th>Time</th>
<th>
<a href="/?sort=level&order=asc">Level ▲</a>
<a href="/?sort=level&order=desc">▼</a>
</th>
<th>
<a href="/?sort=message&order=asc">Message ▲</a>
<a href="/?sort=message&order=desc">▼</a>
</th>
</tr>

{% for log in logs %}
<tr class="{{ log.level.strip().lower() }}">
<td>{{ log.date }}</td>
<td>{{ log.timestamp }}</td>
<td>{{ log.level }}</td>
<td>
{% if message_filter %}
{{ log.message.replace(message_filter, "<mark>" + message_filter + "</mark>") | safe }}
{% else %}
{{ log.message }}
{% endif %}
</td>
</tr>
{% endfor %}
</table>

<div class="pagination">
{% for p in range(1, total_pages+1) %}
{% if p == current_page %}
<strong>{{ p }}</strong>
{% else %}
<a href="/?page={{ p }}">{{ p }}</a>
{% endif %}
{% endfor %}
</div>

</div>
{% endif %}

</div>

</body>
</html>